@import "./variables.scss";

html {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}

main {
  background: url("../img/bg.png") repeat;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0 0 0.35em 0;
}

a {
  text-decoration: none;
  outline: 0;
  background-color: transparent;
  color: inherit;
}

.card {
  margin-bottom: 30px;

  .card-content {
    ul {
      margin: 0 0 0.35em 0;
      padding: 0;
      list-style: none;
  
      li {
        line-height: 200%;
        list-style-type: disc;
        margin-left: 24px;
  
        @media screen and (max-width: $screen-xs-max) {
          line-height: 150%;
        }
      }
    }
  }

  .card-footer {
    padding: 20px;
    font-size: 85%;
    color: #666;
    background-color: rgba(0,0,0,0.02);
  }
}

.full-height {
  height: 100vh;
}

.section {
  position: relative;
  padding-bottom: 30px;

  .section-title {
    color: #fff;
    font-size: 2.9rem;
    background-color: $teal;
    text-transform: uppercase;
    padding: 30px 40px;
    margin-bottom: 60px;

    @media screen and (max-width: $screen-xs-max) {
      position: relative;
      top: $app-bar-height;
    }
  }

  .section-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;

    @media screen and (max-width: $screen-xs-max) {
      position: relative;
      top: $app-bar-height;
    }
  }
}

.nav {
  ul {
    padding: 0;
  }

  a:not(.is-current) {
    > div {
      border-left: 3px solid transparent;
    }

    span {
      font-weight: 300;
    }
  }

  a.is-current {
    > div {
      border-left: 3px solid;
      background-color: #fafafa;
    }

    span {
      font-weight: 500;
    }
  }
}

#intro {
  display: flex;
  position: relative;

  @media screen and (max-width: $screen-xs-max) {
    margin-bottom: -$app-bar-height;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .intro-content {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h1 {
      color: #fff;
      margin-bottom: 0.2em;
    }
  
    p {
      color: #fff;
      font-size: 2rem;
    }
  
    @media screen and (max-width: $screen-xs-max) {
      margin-top: -$app-bar-height;
  
      h1 {
        font-size: 4rem;
      }
  
      p {
        font-size: 1.4rem;
      }
    }
  }
}

#about {
  .section-content {
    p {
      font-size: 1.4rem;
      line-height: 2.2rem;
      font-weight: 300;
      margin-bottom: 30px;
    }
  
    a {
      color: $teal;
    }

    @media screen and (max-width: $screen-xs-max) {
      p {
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }
  }
}

#experience {
  .section-content {
    @media screen and (min-width: $screen-lg-min) {
      width: 860px;
    }
  }
}

#skills {
  .area-header {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  
    span {
      font-weight: 300;
    }
  }
  
  .tech {
    text-align: center;
  
    img {
      height: auto;
      max-width: 100%;
      max-height: 100px;
      padding-bottom: 10px;
    }
  }
}

#contact {
  .section-content .contact-row {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;

    a {
      padding-left: 20px;
    }
  }
}
