@import "./variables.scss";

html {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0 0 0.35em 0;
}

a {
  text-decoration: none;
  outline: 0;
  background-color: transparent;
  color: inherit;
}

.full-height {
  height: 100vh;
}

.intro {
  display: flex;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.intro-content {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    margin-bottom: 0.2em;
  }

  p {
    color: #fff;
    font-size: 2rem;
  }

  @media screen and (max-width: $screen-xs-max) {
    margin-top: -$app-bar-height;

    h1 {
      font-size: 4.2rem;
    }
  }
}

.section {
  position: relative;
  padding-bottom: 30px;

  .section-title {
    color: #fff;
    font-size: 2.9rem;
    background-color: $teal;
    text-transform: uppercase;
    padding: 30px 40px;
    margin-bottom: 60px;
  }

  .section-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

#experience {
  .section-content {
    @media screen and (min-width: $screen-lg-min) {
      width: 860px;
    }
  }
}

.job-card {
  margin-bottom: 30px;

  ul {
    margin: 0 0 0.35em 0;
  }

  .card-footer {
    padding: 20px;
    font-size: 85%;
    color: #666;
    background-color: rgba(0,0,0,0.02);
  }
}